._layer.-menu {
  padding: (64px - $border) 0 0;
  transition: padding 0.125s ease-in-out;
}

.menu {
  flex: 1;
  max-width: 360px;
  transition-duration: 0.125s;
  transition-property: max-width, margin, border-radius, box-shadow;
  transition-timing-function: ease-in-out;
  color: $light-1;
  background: $dark-1;
  box-shadow: 8px 0 16px 0 rgba(#000, 0.125);

  svg {
    position: absolute;
    top: -6px - $border;
    left: 16px - $border;
    width: 16px;
    height: 16px;
  }

  .wrap {
    padding: 16px;
  }

  &.-right {
    margin: 0 0 0 auto;
    box-shadow: -8px 0 16px 0 rgba(#000, 0.125);

    svg {
      right: 16px - $border;
      left: initial;
    }
  }
}

@media (max-width: 360px + 180px) {
  .menu {
    max-width: 100%;
  }
}

@media (min-width: 1440px) {
  ._layer.-menu {
    padding: (64px + 16px) 0 16px 0;
  }

  .menu {
    margin: 0 16px;
    border-radius: 4px 6px;

    &, &.-right {
      box-shadow: 0 8px 16px 0 rgba(#000, 0.125);
    }

    &.-right {
      margin: 0 16px 0 auto;
    }
  }
}
