mixin grid
  .grid
    .grid-item
    .grid-item
    .grid-item
    .grid-item
    .grid-item
    .grid-item
    .grid-item
    .grid-item
    .grid-item
    .grid-item
    .grid-item
    .grid-item
    .grid-item(style='background-image: url(../assets/1.gif)')
    .grid-item(style='background-image: url(../assets/2.gif)')
    .grid-item(style='background-image: url(../assets/3.gif)')
    .grid-item(style='background-image: url(../assets/4.gif)')
    .grid-item(style='background-image: url(../assets/5.gif)')
    .grid-item(style='background-image: url(../assets/6.gif)')
    .grid-item(style='background-image: url(../assets/1.gif)')
    .grid-item(style='background-image: url(../assets/2.gif)')
    .grid-item(style='background-image: url(../assets/3.gif)')
    .grid-item(style='background-image: url(../assets/4.gif)')
    .grid-item(style='background-image: url(../assets/5.gif)')
    .grid-item(style='background-image: url(../assets/6.gif)')
    .grid-item(style='background-image: url(../assets/1.gif)')
    .grid-item(style='background-image: url(../assets/2.gif)')
    .grid-item(style='background-image: url(../assets/3.gif)')
    .grid-item(style='background-image: url(../assets/4.gif)')
    .grid-item(style='background-image: url(../assets/5.gif)')
    .grid-item(style='background-image: url(../assets/6.gif)')
    .grid-item(style='background-image: url(../assets/1.gif)')
    .grid-item(style='background-image: url(../assets/2.gif)')
    .grid-item(style='background-image: url(../assets/3.gif)')
    .grid-item(style='background-image: url(../assets/4.gif)')
    .grid-item(style='background-image: url(../assets/5.gif)')
    .grid-item(style='background-image: url(../assets/6.gif)')
