mixin window
  .window
    .window-bar._border._background This is a window
    .window-body._border
      ._inner
        .wrap
          block
    ._layer-inner
      .window-control
        .dot.-red
        .dot.-yellow
        .dot.-green
