$padding-top: null;

@if variable-exists(component-bar) and $component-bar {
  $padding-top: em(48);
}

.page {
  flex: 1;
  padding: $padding-top 0 0;
  background: $dark-3;
  overflow: auto;

  // legacy
  // background: $light-1;
  // background-position: center;
  // background-size: cover;
  // padding: (56px + 24px + 12px) 12px 12px;
  // background-image: url('lake.jpeg');
}
