//- utilities
include ../node_modules/pilot-frame/jade/main

//- jade component mixins
include components/avatar/main
include components/bar/main
include components/card/main
include components/grid/main
include components/page/main

//- include components/bar/main
//- include components/dock/main
//- include components/menu/main
//- include components/noise/main
//- include components/overlay/main
//- include components/page/main
//- include components/search/main
//- include components/status/main
//- include components/window/main

+html
  +head({ zoom: false })
    //- meta
    //- +svg
    //-   include svg/nub.xml

    //- vue component templates
    //- include components/modal/main

    +style('main.css')
    +script('https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js')

  +vue
    +page
      +card
      +grid
    +bar
