// utilities
@import 'mint-sass/scss/main';

// variables
@import 'scss/variables';

// reset
@import 'pilot-reset/scss/main';

*::selection {
  background: rgba($green, 0.75);
}

@font-face {
  font-family: Gidolinya;
  src: local('Gidolinya'), url('assets/Gidolinya-Regular.otf') format('opentype');
}

body {
  font: 400 1rem/1 Gidolinya, sans-serif;
}

// conditional component variables
$component-bar: true;
// $component-status: true;

// jade component mixins
@import 'avatar/main';
@import 'bar/main';
@import 'card/main';
@import 'grid/main';
@import 'page/main';

// @import 'bar/main';
// @import 'dock/main';
// @import 'noise/main';
// @import 'menu/main';
// @import 'modal/main';
// @import 'overlay/main';
// @import 'page/main';
// @import 'search/main';
// @import 'status/main';
// @import 'window/main';

// modifiers
@import 'scss/layer';
@import 'scss/modifiers';
@import 'scss/styles';
