// variables
@import 'scss/variables';

// reset
@import 'pilot-reset/scss/main';

*::selection {
  background: $green;
}

body {
  font-size: 14px;
  line-height: 16px;
}

// jade component mixins
@import 'bar/main';
@import 'dock/main';
@import 'noise/main';
@import 'menu/main';
@import 'modal/main';
@import 'overlay/main';
@import 'page/main';
@import 'search/main';
@import 'status/main';
@import 'window/main';

// modifiers
@import 'scss/layer';
@import 'scss/modifiers';
@import 'scss/styles';
