._layer {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;

  > * {
    pointer-events: auto;
  }
}

._wrap {
  flex: 1;
  display: flex;
  max-width: 1440px;
  height: 100%;
  margin: auto;
}

// styles
._border {
  border: solid $border $dark-3;

  > ._inner {
    margin: (0 - $border);
  }
}

._focus {
  &::before {
    transition: opacity 0.125s ease-in-out;
    opacity: 0;
  }

  &:focus {
    outline: none;

    &::before {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      margin: -12px 0 0 -12px;
      padding: 10px;
      border: solid 2px $blue;
      border-radius: 14px;
      content: '';
      opacity: 0.5;
      box-sizing: content-box;
    }
  }
}
