$dark-1: rgb(31, 33, 35);
$dark-2: rgb(23, 25, 27);
$dark-3: rgb(15, 17, 19);

$light-1: rgb(203, 205, 207);
$light-2: rgb(219, 221, 223);
$light-3: rgb(235, 237, 239);

$cadet-1: rgb(159, 95, 31); // orange
$cadet-1: rgb(31, 95, 159); // blue

// new
$dark-1: rgb(31, 35, 39);
$dark-2: rgb(23, 27, 31);
$dark-3: rgb(15, 19, 23);

$light-1: rgb(191, 199, 207);
$light-2: rgb(207, 215, 223);
$light-3: rgb(223, 231, 239);

$blue: rgb(31, 159, 255);

// newer
// $dark-1: rgb(47, 55, 63);
// $dark-2: rgb(31, 39, 47);
// $dark-3: rgb(15, 23, 31);

$light-1: rgb(191, 199, 207);
$light-2: rgb(207, 215, 223);
$light-3: rgb(223, 231, 239);

$blue: rgb(31, 159, 255);

// $light-1: rgb(31, 35, 39);
// $light-2: rgb(23, 27, 31);
// $light-3: rgb(15, 19, 23);
//
// $dark-3: rgb(191, 199, 207);
// $dark-2: rgb(207, 215, 223);
// $dark-1: rgb(223, 231, 239);
